<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <div >
      <tr>
        <th scope="row">1</th>
        <td>{{datos.nombre[1]}}</td>
        <td>{{datos.plataforma[1]}}</td>
        <td>{{datos.lanzamiento[1]}}</td>
        <td>{{datos.duracion[1]}}</td>
  
      </tr>
      <tr>
        <td>{{datos.nombre[2]}}</td>
        <td>{{datos.plataforma[2]}}</td>
        <td>{{datos.lanzamiento[2]}}</td>
        <td>{{datos.duracion[2]}}</td>

      </tr>
      <tr>
        <td>{{datos.nombre[3]}}</td>
        <td>{{datos.plataforma[3]}}</td>
        <td>{{datos.lanzamiento[3]}}</td>
        <td>{{datos.duracion[3]}}</td>
      </tr>
      <tr>
        <td>{{datos.nombre[4]}}</td>
        <td>{{datos.plataforma[4]}}</td>
        <td>{{datos.lanzamiento[4]}}</td>
        <td>{{datos.duracion[4]}}</td>
      </tr>
      <tr>
        <td>{{datos.nombre[5]}}</td>
        <td>{{datos.plataforma[5]}}</td>
        <td>{{datos.lanzamiento[5]}}</td>
        <td>{{datos.duracion[5]}}</td>
      </tr>
      <tr>
        <td>{{datos.nombre[6]}}</td>
        <td>{{datos.plataforma[6]}}</td>
        <td>{{datos.lanzamiento[6]}}</td>
        <td>{{datos.duracion[6]}}</td>
      </tr>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


  </tbody>
</table>
